@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.font-jost {
  font-family: var(--font-jost), sans-serif;
}

.font-nunito {
  font-family: var(--font-nunito), sans-serif;
}

.font-lato {
  font-family: var(--font-lato), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Georgia", Sans-serif;
}

.hero {
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media only screen and (max-width: 600px) {
  .hero {
    background-position: unset;
  }
}

.pricingSec .card {
  cursor: pointer;
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #e7e7e7;
}

.pricingSec .card:hover {
  background: linear-gradient(-50deg, #000000 0%, #009AD6 65%);
}

.pricingSec .card:hover h2 {
  color: #fff;
}

.pricingSec .card:hover p {
  color: #fff;
}

.pricingSec .card:hover ul li span {
  color: #fff;
}



.internetPlans .card {
  background: linear-gradient(180deg, #000000 0%, #009AD6 100%);
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #e7e7e7;
  color: #fff;
  cursor: pointer;
}

.internetPlans .card .sign {
  color: #fff;
}

.internetPlans .card:hover {
  background: #fff;
}

.internetPlans .card:hover h2 {
  color: #000;
}

.internetPlans .card:hover .speed {
  color: #000;
}

.internetPlans .card:hover .price{
  color: #233d63;
}

.internetPlans .card:hover .sign {
  color: #233d63;
}

.internetPlans .card:hover .pText {
  color: #555;
}

.internetPlans .card:hover .cText {
  color: #555;
}

.internetPlans .card:hover ul li span {
  color: #555;
}









.fixedSec .card {
  cursor: pointer;
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #e7e7e7;
  padding: 40px 0;
}

.fixedSec .card:hover {
  background: linear-gradient(-50deg, #000000 0%, #009AD6 65%);
}

.fixedSec .card:hover h2 {
  color: #fff;
}

.fixedSec .card:hover p {
  color: #fff;
}

.fixedSec .card:hover ul li span {
  color: #fff;
}







/* FAQs */

.faqSec h2 {
  text-align: center;
  margin-bottom: 20px;
}

.faqSec ul {
  list-style-type: none;
  padding: 0;
}

.faqSec li {
  margin-bottom: 10px;
}

.faqSec button {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 1.1em;
  text-align: left;
  width: 100%;
}

.faqSec button:focus {
  outline: none;
  color: #0057B8;
}

.faqSec p {
  margin: 5px 0 15px 0;
  padding-left: 20px;
}




footer {
  box-shadow: 0 0 10px 0 rgb(0 0 0 / .13);
  padding: 50px 0 0 0;
}